@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar";

@theme {
  /* breakpoints */
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1130px;
  --breakpoints-2xl: 1520px;

  /* colors */
  --color-primary: #7BC3E1;
  --color-secondary: #002636;
  --color-bck: #ECF3F3;
  --color-accent: #E12F2B;
  --color-accent-hover: #EE6E1A;
  --color-tertiary: #FDA31C;
  --color-tertiary-hover: #FFA700;

  /* fonts */
  --font-primary: "urbanist";
}

body {
  @apply font-primary bg-bck text-secondary leading-relaxed;
}

.h1 {
  @apply text-[40px] md:text-[52px] xl:text-[56px] leading-[1] tracking-tight font-extrabold;
}

.h2 {
  @apply text-[32px] md:text-[36px] xl:text-[38px] leading-[1.15] tracking-tight font-medium;
}

.h3 {
  @apply text-[28px] md:text-[30px] xl:text-[32px] leading-[1.2] font-medium;
}

.h4 {
  @apply text-[22px] md:text-[26px] font-medium leading-snug;
}

.container {
  @apply px-[15px];
}

/* btns */
.btn {
  @apply flex items-center justify-center rounded-full cursor-pointer transition-all font-medium h-[56px];
}

.btn-sm {
  @apply min-w-[168px] px-5 text-[15px] font-semibold;
}

.btn-lg {
  @apply min-w-[200px] px-6;
}

/* btns color */
.btn-accent {
  @apply bg-accent hover:bg-accent-hover;
}

.btn-tertiary {
  @apply bg-tertiary hover:bg-tertiary-hover;
}

.btn-white {
  @apply bg-white hover:bg-white/90 text-primary;
}

/* swiper css */
.swiper {
  margin: 0 !important;
}

/* swiper bullets */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-accent;
}
